/* include padding and border in element's dimensions */
*{
  box-sizing: border-box;
}

/* Remove margins and padding from item List */
ul {
  margin:0;
  padding: 0
}

/* List styling */
ul li {
  cursor: pointer;
  postion: relative;
  padding:  12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

/* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Alternate list item colors */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Item highlight on hover*/
ul li:hover {
  background: red;
}

/* Strike out task on completion */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add check mark on click */
ul li.checked:before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Close button styling */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Header styling */
.header {
  background-color: #ff4436;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after header */
.header:after {
  content: "";
  display: table;
  clear: both;
}
